.roundedButton {
    -fx-background-radius: 100;
    -fx-font-size: 34px;
    -fx-padding: 0px;
    -fx-border-radius: 100;
    -fx-text-alignment: center;
}

.container {
    -fx-background-color: blue;
}

.tab {
    -fx-pref-height: 50;
    -fx-pref-width: 80;
    -fx-wrap-text: true;
    -fx-border-insets: 10;
    -fx-border-width: 2;
}

.tab:focused{
    -fx-border-color: red;
    -fx-border-style: solid none solid none;
}

.tab:selected {
    -fx-border-color: red;
    -fx-border-style: solid none solid none;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
}

.table-cell {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

#mainBtnExit {
    -fx-background-color: #fff;
}

#mainBtnNewTab {
    -fx-background-color: #fff;
    -fx-text-fill: #fff;
}

#lblTotal {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-size: 28px;
    -fx-alignment: center;
}

#hotAccessPane {
    -fx-background-color: #bfbfbf;
}

.list-cell {
    -fx-min-width: 150;
    -fx-pref-width: 150;
    -fx-font-size: 15px;
    -fx-wrap-text: true;
}

.subtractBtn {
    -fx-background-radius: 100;
    -fx-font-size: 20px;
    -fx-padding: 0px;
    -fx-border-radius: 100;
    -fx-text-alignment: center;
    -fx-background-color: red;
    -fx-text-fill: #fff;
    -fx-min-width: 30;
    -fx-min-height: 15;
}

.addBtn {
    -fx-background-radius: 100;
    -fx-font-size: 20px;
    -fx-padding: 0px;
    -fx-border-radius: 100;
    -fx-text-alignment: center;
    -fx-background-color: green;
    -fx-text-fill: #fff;
    -fx-min-width: 30;
    -fx-min-height: 15;
}
