.roundedButton {
    -fx-background-radius: 100;
    -fx-font-size: 34px;
    -fx-padding: 0px;
    -fx-border-radius: 100;
    -fx-text-alignment: center;
}

.container {
    -fx-background-color: blue;
}

/*.mainTabPane {*/
/*    -fx-background-color: #fff;*/
/*    -fx-padding: 0px;*/
/*}*/

/*.mainTab {*/
/*    -fx-pref-width: 90px;*/
/*    -fx-pref-height: 45px;*/
/*    -fx-background-color: #fff;*/
/*    -fx-text-alignment: center;*/
/*}*/

/*.mainTabActive {*/
/*    -fx-padding: 10;*/
/*    -fx-border-insets: 20;*/
/*    -fx-background-insets: 10;*/
/*    -fx-border-width: 2;*/
/*}*/

.tab {
    -fx-rotate: 90;
    -fx-pref-height: 70;
    -fx-pref-width: 80;
    -fx-wrap-text: true;
    -fx-border-insets: 10;
    /*-fx-background-insets: 10;*/
    -fx-border-width: 2;
}

.tab:focused{
    -fx-border-color: red;
    -fx-border-style: solid none solid none;
}

.tab:selected {
    /*-fx-background-color: red;*/
    -fx-border-color: red;
    -fx-border-style: solid none solid none;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
}

/*.tab-pane > .tab:selected{*/
/*    -fx-min-width: 1000;*/
/*    -fx-background-color: red;*/
/*    -fx-border-color: red;*/
/*    -fx-border-style: solid none solid none;*/
/*}*/

#mainBtnExit {
    -fx-rotate: 45;
    -fx-background-color: #fff;
}

#mainBtnNewTab {
    -fx-background-color: #ff620c;
    -fx-text-fill: #fff;
}

#lblTotal {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-font-size: 28px;
    -fx-alignment: center;
}

#hotAccessPane {
    -fx-background-color: green;
}

.list-cell {
    /*-fx-max-width: 100;*/
    -fx-min-width: 150;
    -fx-pref-width: 150;
    -fx-font-size: 15px;
    -fx-wrap-text: true;
}

.table-row-cell {
    -fx-cell-size: 40px;
    -fx-font-size: 20px;
    -fx-text-alignment: CENTER;
}